@font-face {
  font-family: "iconfont"; /* Project id 3893700 */
  src: url('iconfont.woff2?t=1683513427394') format('woff2'),
       url('iconfont.woff?t=1683513427394') format('woff'),
       url('iconfont.ttf?t=1683513427394') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wentidan:before {
  content: "\e764";
}

.icon-xiangmujindu:before {
  content: "\e765";
}

.icon-tipstongbu:before {
  content: "\e766";
}

.icon-lingjianjindu:before {
  content: "\e767";
}

.icon-piliangshezhibumen:before {
  content: "\e762";
}

.icon-piliangshezhifuzeren:before {
  content: "\e763";
}

.icon-qiyong:before {
  content: "\e761";
}

.icon-canzhaohejihua:before {
  content: "\e75f";
}

.icon-xiafa:before {
  content: "\e760";
}

.icon-tingyong:before {
  content: "\e68c";
}

.icon-gongzuojihuaduibi:before {
  content: "\e75a";
}

.icon-lichengbeiduibi:before {
  content: "\e75b";
}

.icon-tuliguanli:before {
  content: "\e75c";
}

.icon-yongdaotu:before {
  content: "\e75d";
}

.icon-ziyuanshitu:before {
  content: "\e75e";
}

.icon-zhongzhi:before {
  content: "\e627";
}

.icon-xuanzemoban:before {
  content: "\e8a0";
}

.icon-chexiao:before {
  content: "\e641";
}

.icon-baocunweimoban:before {
  content: "\e7eb";
}

.icon-shenhebutongguo:before {
  content: "\e759";
}

.icon-jilu:before {
  content: "\e758";
}

.icon-fabu:before {
  content: "\e754";
}

.icon-weituobiangeng:before {
  content: "\e755";
}

.icon-xuqiubiangengshenhe:before {
  content: "\e756";
}

.icon-banbenduibi:before {
  content: "\e757";
}

.icon-danju:before {
  content: "\e753";
}

.icon-kebianji:before {
  content: "\e752";
}

.icon-wenjianjiaai:before {
  content: "\e740";
}

.icon-wenbentianxie:before {
  content: "\e750";
}

.icon-tianbao:before {
  content: "\e751";
}

.icon-butongguo:before {
  content: "\e74e";
}

.icon-tongguo:before {
  content: "\e74f";
}

.icon-gengduo:before {
  content: "\e74d";
}

.icon-a-guanbi:before {
  content: "\e6f4";
}

.icon-jiahao:before {
  content: "\e696";
}

.icon-baocunbingguanbi1:before {
  content: "\e6fd";
}

.icon-wenjianjia1:before {
  content: "\e74c";
}

.icon-banbenguanli:before {
  content: "\e791";
}

.icon-dakaiyemian:before {
  content: "\e74b";
}

.icon-zhankaizhedie:before {
  content: "\e749";
}

.icon-zhedie:before {
  content: "\e74a";
}

.icon-quxiaoguanlian:before {
  content: "\e748";
}

.icon-jia:before {
  content: "\e744";
}

.icon-jian:before {
  content: "\e745";
}

.icon-yulan:before {
  content: "\e746";
}

.icon-baocunbingxinjian:before {
  content: "\e747";
}

.icon-liaotianshezhi:before {
  content: "\e673";
}

.icon-biaoqing:before {
  content: "\e612";
}

.icon-lingxing:before {
  content: "\e805";
}

.icon-duigou:before {
  content: "\e605";
}

.icon-shouye:before {
  content: "\e6b4";
}

.icon-cuibanbiaoshi:before {
  content: "\e743";
}

.icon-txt:before {
  content: "\e741";
}

.icon-pdf:before {
  content: "\e742";
}

.icon-guanlian:before {
  content: "\e7a1";
}

.icon-tishi:before {
  content: "\e73d";
}

.icon-guanbi2-fill:before {
  content: "\e73e";
}

.icon-quxiao:before {
  content: "\e73f";
}

.icon-hand-in:before {
  content: "\e7401";
}

.icon-suoxiao2:before {
  content: "\e6d9";
}

.icon-WORD:before {
  content: "\e640";
}

.icon-PPT:before {
  content: "\e642";
}

.icon-Icon-wenjianleixing-Excel:before {
  content: "\e7d2";
}

.icon-baocun1:before {
  content: "\e6fa";
}

.icon-tupian-jpg_png:before {
  content: "\e6f3";
}

.icon-xiangyou:before {
  content: "\e73b";
}

.icon-xiangzuo:before {
  content: "\e73c";
}

.icon-cuiban:before {
  content: "\e716";
}

.icon-bianzu:before {
  content: "\e717";
}

.icon-diandiandian:before {
  content: "\e718";
}

.icon-fangda:before {
  content: "\e719";
}

.icon-daochu:before {
  content: "\e71a";
}

.icon-fenpei:before {
  content: "\e71b";
}

.icon-liebiaoshaixuan:before {
  content: "\e71c";
}

.icon-fujian:before {
  content: "\e71d";
}

.icon-qiehuanshitu:before {
  content: "\e71e";
}

.icon-liebiaoshezhi:before {
  content: "\e71f";
}

.icon-qizi:before {
  content: "\e720";
}

.icon-quxiaofenpei:before {
  content: "\e721";
}

.icon-renwujihua:before {
  content: "\e722";
}

.icon-quanping:before {
  content: "\e723";
}

.icon-renwuguanli:before {
  content: "\e724";
}

.icon-rili:before {
  content: "\e725";
}

.icon-shaixuan:before {
  content: "\e726";
}

.icon-fuzeren:before {
  content: "\e727";
}

.icon-shitushuaxin:before {
  content: "\e728";
}

.icon-shanchu:before {
  content: "\e729";
}

.icon-shezhi:before {
  content: "\e72a";
}

.icon-wenjianjia2:before {
  content: "\e72b";
}

.icon-shenpi:before {
  content: "\e72c";
}

.icon-shuaxin:before {
  content: "\e72d";
}

.icon-suoxiao:before {
  content: "\e72e";
}

.icon-sousuo:before {
  content: "\e72f";
}

.icon-shouqi:before {
  content: "\e730";
}

.icon-shoucang:before {
  content: "\e731";
}

.icon-wenda:before {
  content: "\e732";
}

.icon-xiala:before {
  content: "\e733";
}

.icon-xiazai:before {
  content: "\e734";
}

.icon-xiaohongdian:before {
  content: "\e735";
}

.icon-zhuanpai:before {
  content: "\e736";
}

.icon-zuidahua:before {
  content: "\e737";
}

.icon-zhankai:before {
  content: "\e738";
}

.icon-yishoucang:before {
  content: "\e739";
}

.icon-xiugai:before {
  content: "\e73a";
}

